!!! 5
%html
	%head
		%title Profile Information
		= stylesheet_link_tag 'login'
		= stylesheet_link_tag 'bootstrap'
		= javascript_include_tag 'login'
		= csrf_meta_tags
		%link{:href => "/css/account.css", :rel => "stylesheet"}/
	%body{:class => 'container'}
		.sidenav
			%a{:href => '/dashboard'} DASHBOARD
			%a{:href => '#'} VIEW BUILDINGS
			%a{:href => '#'} ADD BUILDINGS
			%a{:href => '#'} VIEW HISTORICAL DATA
			%a{:href => '/profile_information'} ACCOUNT
			%a{:href => '#'} LOG OUT
		
		.top_buttons
			%a{:href => '/profile_information'} PROFILE
			|
			%a{:href => '/account_settings'} ACCOUNT
		.container#divcen
			%form.account_settings{:name => "account_settings",:action => "edit/account_settings", :method => "get"}
				%label.labels{:name => 'emailadd'} E-MAIL ADDRESS
				%br/
				%input.input-xxlarge{:name => 'emailAdd', :placeholder => "example@up.edu.ph", :value => @email, :type => "text"}/
				%label.labels{:name => 'passwd'} PASSWORD
				%br/
				%input.input-xxlarge{:name => 'passwd',:value => @passwd, :type => "password"}/
				%br/
				%br/
				%button.btn.btn-success{:type => "submit"} EDIT
