!!! 5
%html
	%head
		%title Profile Information
		= stylesheet_link_tag 'login'
		= stylesheet_link_tag 'bootstrap'
		= javascript_include_tag 'login'
		= csrf_meta_tags
		%link{:href => "/css/account.css", :rel => "stylesheet"}/
		%link{:href => "/css/logout.css", :rel => "stylesheet"}/
		%script{:src => "/javascripts/logout.js", :type => "text/javascript"}
		
	%body{:class => 'container'}
		.sidenav
			%a{:href => '/dashboard'} DASHBOARD
			%a{:href => '/view_buildings'} VIEW BUILDINGS
			%a{:href => '#'} ADD BUILDINGS
			%a{:href => '#'} VIEW HISTORICAL DATA
			%a.pressed_sidelink{:href => '/profile_information'} ACCOUNT
			%a.trigger_popup_fricc LOG OUT
			.hover_bkgr_fricc
				%span.helper
				%div
					.popupCloseButton X
					%p Are you sure you want to log out?
					%form.logout{:action => "logout", :method => "get"}
						%button.btn.btn-warning{:type => "submit"} Log out
		
		.top_buttons
			%a.pressed_link{:href => '/profile_information'} PROFILE
			|
			%a{:href => '/account_settings'} ACCOUNT
		.container#divcen
			%form.profile{:action => '/update/profile_information', :method => 'get'}
				%label.labels{:name => 'name'} NAME
				%input.input-xlarge{:name => 'first_name', :value => @first_name, :type => "text"}/
				%input.input-xlarge{:name => 'last_name', :value => @last_name, :type => "text"}/
				%label.labels{:name => 'mobile_number'} MOBILE NUMBER
				%input.input-xlarge{:name => 'mobile_number', :value => @mobile_number, :type => "text"}/
				%label.labels{:name => 'birthday'} BIRTHDAY
				%input.input-medium{:name => 'birthday', :value => @birthday, :type => "date", :min => "1950-01-02"}/
				%label.labels{:name => 'gender'}
					%span.gender_label GENDER
					%span.religion_label RELIGION
				%input.input-xlarge{:name => 'gender', :value => @gender, :type => "text"}/
				%input.input-xlarge{:name => 'religion', :value => @religion, :type => "text"}/
				%br/
				%br/
				%button.btn.btn-success{:type => "submit"} Update
