!!! 5
%html
	%head
		%title Profile Information
		= stylesheet_link_tag 'login'
		= stylesheet_link_tag 'bootstrap'
		= javascript_include_tag 'login'
		= csrf_meta_tags
		%link{:href => "/css/profile_information.css", :rel => "stylesheet"}/
	%body{:class => 'container'}
		%form{:name => 'accountbutton', :action => 'account_settings', :method => 'get'}
			%button.btn.btn-primary{:name => 'account_settings', :type => 'submit'} Account
			
		.row-xl-4
			=link_to "DASHBOARD", '#'
			%br/
			=link_to "VIEW BUILDINGS", '#'
			%br/
			=link_to "ADD BUILDING", '#'
			%br/
			=link_to "VIEW HISTORICAL DATA", '#'
			%br/
			=link_to "ACCOUNT", '#'
			%br/
			=link_to "LOG OUT", '#'
			%br/
