!!!
%html
  %head
    %title IMI
    = csrf_meta_tags

  %body
    
    #main
      = yield
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]


